@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&family=Ubuntu:ital,wght@0,400;1,300;1,400&display=swap');

.heading{
	text-align: center;
	position: relative;
	top : 1.75em;
	color: #fff;
	font-size: 35px;
	font-weight: regular;
}
.block {
	display : flex;
	background-color: #141464;
	height: 40%;
	width: 30%;
	position: relative;
	left : 35%;
}
.block  h1 {
	font-size: 30px;
	color : #fff;
	font-weight:  lighter;
	font-style: italic;
}

body{
	background: linear-gradient(to right, #000046, #1cb5e0);
}

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}